* {
    text-transform: capitalize;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.holder {
    background-color: #610061;
    width: fit-content;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
}
.container {
    .calculator {
        max-width: 500px;
        margin: 10px auto;
        color: white;
        .header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .calc {
                font-size: 20px;
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .theme {
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .numbers {
                    position: absolute;
                    top: -16px;
                    right: 5px;
                    width: 90px;
                    display: flex;
                    justify-content: space-between;
                    font-size: 10px;
                    font-weight: bold;
                }
                ul {
                    list-style: none;
                    height: 20px;
                    background-color: black;
                    margin: 0;
                    margin-left: 10px;
                    border-radius: 10px;
                    height: 20px;
                    position: relative;
                    width: 100px;
                    li {
                        &:not(.active){
                            opacity: 0.2;
                        } 
                        cursor: pointer;
                        width: 10px;
                        height: 10px;
                        background-color: #ff9800;
                        border-radius: 50%;
                        margin: 0;
                        padding: 0;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%,-50%);
                        &.one{
                            margin-left: -40px;
                        }
                        &.three{
                            margin-left: 40px;
                        }
                            
                    }

                }
            }
        }
        .screen {
            position: relative;
            max-width: 500px;
            height: 100px;
            background-color: #121111;
            border-radius: 5px;
            .tv{
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 30px;
                font-weight: bold;
            }
        }
    }
    .buttons {
        display: flex; 
        gap: 10px;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px;
        justify-content: center;
        margin-top: 20px;
        border-radius: 5px;
        padding-block: 20px;
        background-color: #121111;
        list-style: none;

        li {
            cursor: pointer;
            color: black;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            border-radius: 5px;
            height: 30px;
            width: 22.5%;
            font-size: 20px;
            box-shadow: #aea9a9 0 2px 0;

            &.reset,&.del {
                background-color: grey;
                color: white;
            }
            &.reset,&.equal {
                width: 47.5%;
            }
            &.equal {
                width: 47.5%;
                background-color: #ff5722;;
                color: white;

            }
        }
    }
}
.butcolor1 {
    background-color: #121111;
}
.butcolor2 {
    background-color: #dad5d5 !important;;
}
.butcolor3 {
    background-color: #6f056feb !important;
}
.buttonscolor {
    transition: 0.3s;
}
.buttonscolor:hover {
    background-color: rgba(#f0cbf0, $alpha: 1) !important;

}
.resDel1 {
    background-color: grey;
}
.resDel2 {
    background-color: #03a9f4 !important; 
}
.resDel3 {
    background-color: #b908b9eb !important; 
}
.screenc1 {
    background-color: black !important; 
    color: white !important;
}
.screenc2 {
    background-color: white !important; 
    color: black !important;
} 
.screenc3 {
    background-color: #b908b9eb !important; 
    color: wheat !important;
} 

// background-color: #03a9f4;